@import "reset.scss";
@import "featherlight.scss";
@import "featherlight.gallery.scss";


	@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?epyps1');
    src:    url('fonts/icomoon.eot?epyps1#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?epyps1') format('truetype'),
        url('fonts/icomoon.woff?epyps1') format('woff'),
        url('fonts/icomoon.svg?epyps1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
	}

	[class^="icon-"], [class*=" icon-"], .reattached, .reattached > span {
	    /* use !important to prevent issues with browser extensions that change fonts */
	    font-family: 'icomoon' !important;
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;

	    /* Better Font Rendering =========== */
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}

	.icon-cancel-circle:before {
	    content: "\e900";
	}
	.icon-circle-left:before {
	    content: "\e901";
	}
	.icon-circle-right:before {
	    content: "\e902";
	}

		body {
			font-family: 'Roboto', sans-serif;
			background-color: #0054a6;
		}

		header {
			color: white;
			text-align: center;
			font-size: 32px;
			font-weight: 100;
			text-transform: uppercase;
			padding: 50px 50px 0;
			margin-bottom: 50px;
		}
		
		.wrapper { background: white; }

		.main {
			max-width: 800px;
			margin: 0 auto;
			padding: 50px 50px 100px;
		}

		footer {
			padding: 10px;
			display: block;
		}

		strong {
			font-weight: bold;
		}

		.disclaimer {
			font-weight: 300;
			line-height: 1.5;
			background-color: #eee;
			padding: 15px 50px;
			/*font-style: italic;*/
			margin-bottom: 25px;
			border-radius: 5px;
		}

		h2 {
			line-height: 2;
			margin-top: 50px;
			font-size: 22px;
			font-weight: 600;
			text-transform: uppercase;
		}

		h3 {
			line-height: 2;
			margin-top: 15px;
			font-size: 18px;
			font-weight: 300;
		}

		ul {
			padding-left: 25px;
			list-style-type: disc;
		}

		ul li {
			padding: 5px;
		}

		h2 + h3 { margin-top: 0; }

		.featherlight-content iframe { overflow: hidden !important; }

		.featherlight { z-index: 10; }

		.download {
			text-transform: uppercase;
			font-size: 11px;
			text-align: right;
			float: right;
		}

		.reattached { position: fixed; }

		.featherlight-next.reattached, .featherlight-previous.reattached { z-index: 50;	}

		.featherlight-next.reattached:hover, .featherlight-previous.reattached:hover { background-color: rgba(0,0,0,0); }

		.featherlight-next.reattached span, .featherlight-previous.reattached span { transition: right 0.3s ease, left 0.3s ease;	}

		.featherlight-previous.reattached:hover span { left: 0;}

		.featherlight-next.reattached:hover span { right: 0%;	}

		.featherlight-next.reattached span, .featherlight-previous.reattached span {
			display: inline-block;
			color: rgba(0,0,0,0);
			font-size: 0px;
		}

		.featherlight-previous.reattached span::before { 
			content: "\e901";
			color: white;
			font-size: 32px;
			text-shadow: 1px 1px 8px black;
		}

		.featherlight-next.reattached span::before { 
			content: "\e902";
			color: white;
			font-size: 32px;
			text-shadow: 1px 1px 8px black;
		}

		.featherlight-close-icon.reattached {
			top: 0;
			right: 0;
			color: rgba(0,0,0,0);
			z-index: 100;
			cursor: pointer;
			font-size: 40px;
			padding: 10px;
			transition: font-size 0.3s ease;
		}

		.featherlight-close-icon.reattached::before {
			content: "\e900";
			color: white;
			font-size: 32px;
			text-shadow: 1px 1px 8px black;
			transition: font-size 0.3s ease;
		}

		.featherlight-close-icon.reattached:hover::before { font-size: 30px; }

		.featherlight-image { position: relative; z-index: 9999999; }
		